html{
    color: rgb(230, 193, 45);
}
/* tag */
div{
    color: blueviolet ; /* !important */
}
/* id */
#id{
    color: black;
}
/* class */
.apple{
    color: brown;
}
/* property */
[name="fr"]{
    color: rgb(74, 74, 173);
}
/* and */
.class1.class2{
    color: aqua;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ecde16;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    border: 2px dashed red;
    border-radius: 100px;
    line-height: 100px;
    
}
/* or */
.class1,
.class2{
    color: rgb(25, 0, 255);
}
/* sub */
.class1 .class2{
    color: rgb(255, 0, 0);
    text-align: center;
}
/* hover */
.class1:hover{
    font-size: 40px;
}
/* 偉元素 (IG小盒子跳訊息) */
.class1::after{
    content: "5" ;
    color: chartreuse;
    font-size: 20px;
    top: 20px;
    left: 20px;
}
/* rwd */
@media screen and (max-width:768px) {
.class1 {
    font-size: 70px;
}
}
.circle {
  /* --- 圓圈的外觀設定 --- */
  width: 150px;
  height: 150px;
  background-color: #EED445;   /* 黃色背景 */
  border: 2px dashed red;      /* 紅色虛線邊框 */
  border-radius: 50%;          /* 讓正方形變成圓形 */
  color: aqua;                 /* 湖水綠文字 */
  font-size: 24px;

  /* --- 🌟 關鍵置中語法 (Flexbox) --- */
  display: flex;               /* 啟用 Flexbox 排版 */
  justify-content: center;     /* 左右置中 */
  align-items: center;         /* 上下置中 */
}
.position{
 position: fixed;
 top: 50px;
 left: 50px;
 transform: translate(-50%,-50%);
 width: 100px;
 height: 100px;
 background-color: black;
}
.inline{
    display: inline;
    width: 100px;
    height: 100px;
}
.block{
    display: inline;
    width: 100px;
    height: 100px;
}
. hero{
  height: 100vh;
  padding: 5vw;
}
p {
  /* 語法：clamp(最小值, 建議值, 最大值) */
  font-size: clamp(16px, 2vw + 1rem, 24px);
}
<div class="w-scale">w-scale</div>
<style>
.w-scale {
  width: 100px;
	border: 1px solid black;
  transition: width 3s ease-in-out;
}

.w-scale:hover {
  width: 300px;
}
</style>